<div class="dashboard-container">
<nav class="navbar">
  <div class="navbar-title">Gerenciador de Carros e Usuários</div>
  <div class="navbar-menu">
    <button routerLink="/login" *ngIf="!isLoggedIn()">Login</button>
    <button routerLink="/" *ngIf="isLoggedIn()">Dashboard</button>
  </div>
</nav>

  <div class="search-container">
<input type="text"
  [(ngModel)]="searchQuery"
  placeholder="Buscar usuário por ID"
/>

<button (click)="onSearch()">Buscar</button>

  </div>

  <div class="frame">
    <div class="user-card" *ngFor="let user of users">
      <div class="user-info">
        <div class="user-photo">Foto</div>
        <div>
          <p><strong>ID:</strong> {{ user.id }}</p>
          <p><strong>Nome:</strong> {{ user.name }}</p>
        </div>
      </div>
      <div class="user-cars">
        <div class="car-card" *ngFor="let car of user.cars">
          <p><strong>Ano:</strong> {{ car.year }}</p>
          <p><strong>Modelo:</strong> {{ car.model }}</p>
          <p><strong>Placa:</strong> {{ car.plate }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="action-buttons">
    <button (click)="createUser()">Cadastrar Usuário</button>
    <button (click)="editUser()">Editar Usuário</button>
    <button (click)="deleteUser()">Deletar Usuário</button>
  </div>
</div>
