<!-- Modal para Criar/Editar Usuário -->
<div *ngIf="showModal" class="modal">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ modalMode === 'create' ? 'Criar Novo Usuário' : modalMode === 'edit' ? 'Editar Usuário' : 'Excluir Usuário' }}</h2>

        <div class="modal-body">
            <!-- Seção para Dados do Usuário -->
            <div class="user-section">
                <form *ngIf="modalMode !== 'delete'" (ngSubmit)="modalMode === 'create' ? createUser(newUser) : editUser()">
                    <mat-form-field appearance="fill">
                        <mat-label>Primeiro Nome</mat-label>
                        <input matInput [(ngModel)]="newUser.firstName" name="firstName" required />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput [(ngModel)]="newUser.lastName" name="lastName" required />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Data de Nascimento</mat-label>
                        <input matInput [(ngModel)]="newUser.birthday" name="birthday" type="date" required />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>E-mail</mat-label>
                        <input matInput [(ngModel)]="newUser.email" name="email" required />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Login</mat-label>
                        <input matInput [(ngModel)]="newUser.login" name="login" required />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Senha</mat-label>
                        <input matInput [(ngModel)]="newUser.password" name="password" type="password" required />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Telefone</mat-label>
                        <input matInput [(ngModel)]="newUser.phone" name="phone" required />
                    </mat-form-field>
                </form>
            </div>

            <!-- Seção para Dados dos Carros -->
            <div class="car-section" *ngIf="modalMode === 'create'">
                <label>Carros:</label>
                <div class="car-list">
                    <div *ngFor="let car of newUser.cars || []; let i = index" class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>Ano</mat-label>
                            <input matInput [(ngModel)]="car.year" placeholder="Ano" required />
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Modelo</mat-label>
                            <input matInput [(ngModel)]="car.model" placeholder="Modelo" required />
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Placa</mat-label>
                            <input matInput [(ngModel)]="car.licensePlate" placeholder="Placa" required />
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Cor</mat-label>
                            <input matInput [(ngModel)]="car.color" placeholder="Cor" required />
                        </mat-form-field>
                        <button mat-icon-button (click)="removeCar(i)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
                <button mat-button (click)="addCar()">Adicionar Carro</button>
            </div>
        </div>

        <div class="modal-buttons">
            <button mat-raised-button color="primary" *ngIf="modalMode !== 'delete'" type="submit">{{ modalMode === 'create' ? 'Salvar' : 'Atualizar' }}</button>
            <button mat-button color="warn" (click)="closeModal()">Cancelar</button>
            <button mat-raised-button color="warn" *ngIf="modalMode === 'delete'" (click)="deleteUser()">Excluir</button>
        </div>

        <!-- Exibição da mensagem de exclusão -->
        <div *ngIf="modalMode === 'delete'">
            <p>Tem certeza que deseja excluir este usuário?</p>
        </div>
    </div>
</div>