/* Estilos para a navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3f51b5; /* Cor de fundo da navbar */
  color: white; /* Cor do texto */
  position: fixed; /* Fixa a navbar ao topo */
  top: 0; /* Alinha ao topo da página */
  left: 0; /* Alinha à esquerda */
  right: 0; /* Alinha à direita */
  z-index: 1000; /* Certifica-se de que a navbar está acima de outros elementos */
}

/* Estilo para o título */
.title {
  flex-grow: 1; /* Faz o título ocupar o espaço restante */
  text-align: center; /* Centraliza o texto */
  font-size: 24px;
  font-weight: bold;
}

/* Estilos para a seção de ações */
.actions {
  display: flex;
  align-items: center;
  margin: 20px; /* Margem em torno da seção */
}

/* Estilo para a tabela de usuários */
.user-table-frame {
  margin: 20px; /* Margem externa */
}

.user-table {
  width: 100%; /* Tabela ocupa toda a largura */
  border-collapse: collapse; /* Remove espaço entre bordas da tabela */
}

/* Estilos para os botões dentro da tabela */
.user-actions {
  display: flex; /* Para alinhar os botões horizontalmente */
  gap: 1500px; /* Espaço entre os botões */
}

.modal {
  position: fixed; /* Fixa o modal na tela */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza o modal */
  width: 80%; /* Largura do modal */
  max-width: 800px; /* Largura máxima */
  background-color: #fff; /* Cor de fundo do modal */
  border: 1px solid #00ff00; /* Borda verde */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para o modal */
  border-radius: 8px; /* Bordas arredondadas */
  z-index: 1000; /* Fixa o modal acima de outros elementos */
  padding: 20px; /* Espaçamento interno */
  display: flex; /* Para layout horizontal */
  flex-direction: column; /* Organiza os itens em coluna */
}

.modal-body {
  display: flex; /* Alinha as seções lado a lado */
  justify-content: space-between; /* Espaçamento entre as seções */
}

.user-section {
  flex: 1; /* Permite que a seção do usuário ocupe o espaço disponível */
  margin-right: 10px; /* Espaçamento à direita */
}

.car-section {
  flex: 1; /* Permite que a seção dos carros ocupe o espaço disponível */
  max-height: 400px; /* Altura máxima para permitir rolagem se necessário */
  overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo exceder a altura */
}

.close {
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  float: right; /* Alinha o botão de fechar à direita */
}

.modal-buttons {
  display: flex;
  justify-content: space-between; /* Espaçamento entre os botões */
  margin-top: 20px; /* Margem superior */
}
